/**
 *
 * Custom styles for basis booking.
 *
 */

.container-fluid {
  max-width: 60em;
}

.navbar {
  background: #409cda;

  .navbar-brand {
    color: #fff;
  }
}

.form_datetime {
  position: relative;

  .add-on {
    top: 0;
    position: absolute;
    bottom: 0; 
    padding: .5em;
    right: 0;
  }

  .form-control[type=text] {
    cursor: pointer;
  }
}

.date-wrapper {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;

  &:first-child {
    padding-right: 2em;
  }

  &:last-child {
    padding-left: 2em;
  }
}

.btn-default {
  float: right;
}